name: Tests
on:
  pull_request:

jobs:
  getTestMatrix:
    name: Get Test Matrix (Runs Untrusted Code)
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout PR code
        uses: actions/checkout@v4
      - name: Run PR script
        id: set-matrix
        run: echo "matrix=$(node ./scripts/create-test-matrix.mjs)" >> $GITHUB_OUTPUT

  e2e-vulnerable-job:
    name: Vulnerable Job
    runs-on: ubuntu-latest
    needs: getTestMatrix
    strategy:
      matrix: ${{ fromJson(needs.getTestMatrix.outputs.matrix) }}
    steps:
      - name: Create dummy workbench
        run: mkdir -p workbench/nitro

      - name: The Injected Step
        # THIS IS THE VULNERABLE LINE
        # The "&& echo '...'" forces the shell to parse the whole line
        run: cd workbench/${{ matrix.app.name }} && echo 'This part runs after the cd'
